:root{
    --bg-color: #081b29;
    --second-bg-color : #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
} 
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 0;    
    background: var(--bg-color);
    color: var(--text-color);
}
h1{
    padding-top: 30px;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
}
span{
    color: var(--main-color);
}
form{
    max-width: 600px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
fieldset{
    border: 2px solid var(--main-color);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
fieldset:hover{
    background-color: var(--second-bg-color);
}
legend{
    font-weight: bold;
    text-align: left;
}
label{
    display: block;
    margin-top: 10px;
}
input,textarea{
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--text-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}
button:hover{
    background-color: var(--second-bg-color);
}
#resumeOutPut{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.profilePicture{
    display: block;
    border:  2px solid #d7d8d8;
    box-shadow: #d7d8d8;
    border-radius: 500%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.imageSide{
    display: flex;
    background-color: #5d8f90;
    width: auto;
    padding-left: 25px;
    
}
.imageSide p{
    font-size: 40px;
    font-weight: 700;
    color: #fefefe;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
}
.imageSide span{
    font-size: 20px;
    font-weight: 600;
    color: #fefefe;
    margin: 0px;
    padding: 0px;
    margin-left: 6px;
}
.mainTextSide{
    display: flex;
}
.mainTextSide .contactSide{
    background-color: #d7d8d8;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30%;
    color: #a29793;
    width: 35%;
}
.mainTextSide .contactSide .aboutSide h3{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    color: #574b44;
}
.mainTextSide .contactSide .aboutSide p{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    margin-top: 8px;
}
.mainTextSide .contactSide .inContact h3{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
    padding-bottom: 8px;
    color: #574b44;
}
.mainTextSide .contactSide .inContact p{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    margin-top: 4px;
    padding-top: 5px;
}
.mainTextSide .contactSide .inContact p i{
    display: flex;
    margin-top: 4px;
    color: #574b44;
}
.mainTextSide .textSide{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.mainTextSide .textSide p{
    color: #a29793;
}
.mainTextSide .textSide h3{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    color: #574b44;
}
.mainTextSide .textSide h3 i{
    color: #5d8f90;
}

/* ################################## RESPONSIVE ################################## */

@media(min-width: 200px) and (max-width: 550px){
    .imageSide p{
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 30px;
        margin-left: 15px;
    }
    .profilePicture{
        width: 110px;
        height: 110px;
        margin-left: 12px;
        margin-right: 8px;
    }
    .imageSide span{
        font-size: 18px;
        margin-left: 18px;
    }
    .mainTextSide .contactSide .aboutSide h3{
        font-size: 15px;
    }
    .mainTextSide .contactSide .inContact h3{
        font-size: 15px;
    }
    .mainTextSide .contactSide .inContact p{
        font-size: 8px;
    }
    .mainTextSide .textSide h3{
        font-size: 25px;
        margin-top: 30px;
    }
    .mainTextSide .textSide h3 i{
        color: #5d8f90;
        font-size: 25px;
    }
    .mainTextSide .contactSide .aboutSide p{
        font-size: 15px;
    }
}
@media(min-width: 200px) and (max-width: 418px){
    .profilePicture{
        width: 110px;
        height: 110px;
        margin-left: 8px;
    }
    .mainTextSide .textSide h3{
        display: flex;
        font-size: 20px;
        margin-top: 13px;
    }
    .mainTextSide .textSide h3 i{
        padding-top: 6px;
        padding-right: 6px;
        font-size: 20px;
    }   
    .mainTextSide .textSide p{
        color: #a29793;
        font-size: 15px;
    }
}


@media print {
    body * {
      visibility: hidden;
    }
  
    #resumeOutPut, #resumeOutPut * {
      visibility: visible;
    }
  
    #resumeOutPut {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  
    #buttonsContainer {
      display: none !important;
    }
  }
  